
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */